*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigasi{
    background-color: #3b4997;
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.menu{
    margin-left: 450px;
    padding-top: 3px;
}  
.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    color: lightskyblue;
    font-style: italic;
}
/* ini bagian terakhir css nav */

.banner{
    background-color: #3b5999;
    height: 600px;
    text-align: center;
    color: white;
}
.banner img{
    border-radius: 100px;
    height: 150px;
    border: 6px solid white;
    margin-top: 100px;
}

.banner h1{
    margin-top: 10px;

}
.banner p{
    margin-top: 10px;
}
.banner button{
    margin-top: 60px;
    padding: 10px;
    border-radius:50px ;
    width: 400px;
    border: none;


}
.banner button:hover{
    background-color: #3b5999;
    border: 1px solid white;
    color: white;
}
h1 span:before{
    content: "";
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: lightblue;
    font-size: 60px;

}
@keyframes gerak{
    0%{
        content: 'Selamat Datang ';
    }
    50%{
        content: 'Saya Nurul Hayati ';
    }
    100%{
        content: 'Terimakasih udah Singgah! ';
    }
}
/* ini bagian akhir untuk pengenalan nama */

.box-pendidikan{
    text-align: center;
    color: #4d4d4d;
    margin-top: 50px;
    align-content: center;
   
   
  
}
.box-kiri, .box-tengah, .box-kanan{
    display: inline-table;
    justify-content: space-between;
    align-content: stretch;
    width: 340px;
    height: 410px;
    background-color: #f0f0f0;
    text-align: center;
    margin: 70px 5px 5px 55px;
    padding: 10px 0px;
    border-radius:10px ;
    overflow-wrap: break-word;
   
}
h1{
   margin-top: 100px;
   text-align: center;
}
.box-kiri:hover, .box-tengah:hover, .box-kanan:hover{
    background-color: #3b5999;
    color: white;
}
.box-pendidikan h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}

/* ini bagian akhir untuk bagian pendidikan */

.box-softskill{
    text-align: center;
    color: #4d4d4d;
    margin: 0px auto;
   
}
.box-kontak img{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.box-kontak{
    text-align: center;
    color: #4d4d4d;
    margin-top: 150px;
}
.footer{
    background-color: grey;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    padding: 3px;
    margin: 50px auto 0px;
}